@model IEnumerable<ProductViewModel>

<h1>@ViewBag.Title</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Buy</th>
            <th scope="col">Add</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>
                    <form asp-controller="Product" asp-action="Buy">
                        <input name="id" type="hidden" value="@product.Id" />
                        <input name="count" class="form-control-sm" size="3" type="number" min="1" max="@product.Quantity" />
                        <button class="btn btn-success" type="submit">Buy</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Product" asp-action="AddQuantity">
                        <input name="id" type="hidden" value="@product.Id" />
                        <input name="count" class="form-control-sm" size="3" type="number" min="1" max="@(int.MaxValue - product.Quantity)" />
                        <button class="btn btn-warning" type="submit">Add</button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Product" asp-action="Delete">
                        <input name="id" type="hidden" value="@product.Id" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>

<a asp-controller="Product" asp-action="Add" class="btn btn-dark">Add new product</a>

